/* Header */

.header {
    justify-content: space-between;
    padding: 1.2rem 4rem;
    z-index: 2;
}

nav.nav_menu {
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
    gap: 2rem;
}

nav.nav_menu .nav_links {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    flex: 1;
    min-width: 0;
}

nav.nav_menu a {
    font-size: 1.6rem;
    padding: .6rem 0;
    color: var(--white);
    font-family: 'Plus Jakarta Sans';
    text-decoration: none;
    letter-spacing: .18rem;
    right: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    line-height: 1;
    position: relative;
}

nav.nav_menu a:hover,
nav.nav_menu a.active {
    color: var(--beaver);
    transition: color .3s ease;
}

nav.nav_menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, var(--beaver), var(--beaver-soft));
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

nav.nav_menu a:hover::after,
nav.nav_menu a.active::after {
    transform: scaleX(1);
}

nav.nav_menu.not-active a {
    display: flex;
}

nav.nav_menu .lang_switch {
    display: none;
}

.btn {
    display: inline-flex;
    position: static;
    transform: none;
    margin-left: 1.5rem;
    width: 3.4rem;
    gap: .5rem;
}

/* Home */

.home {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    height: auto;
}

.home_info {
    width: 100%;
    padding: 0 6rem 0 6rem;
    align-items: center;
}

.split-hero {
    grid-template-columns: minmax(18rem, 1fr) minmax(32rem, 38rem) minmax(18rem, 1fr);
    align-items: center;
    justify-items: center;
    padding: 6rem 6rem 3rem 6rem;
    margin-top: 6rem;
}

.split-hero__col {
    text-align: left;
}

.split-hero__col:last-child {
    text-align: right;
}

.split-hero__image {
    width: 36rem;
    aspect-ratio: 1 / 1.05;
}

.container_text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: .2rem;
    text-align: center;
    margin-top: 2rem;
}

.home_text-1 {
    font-size: 3.5rem;
    margin-left: 0;
    font-weight: bold;
}

.home_text-2 {
    font-size: 6rem;
    font-weight: bold;
    color: var(--white);
}

.home_text-3 {
    margin: 0 0 2rem 0;
    font-size: 1.8rem;
    width: 40rem;
    letter-spacing: .2rem;
    text-align: center;
}

.container_parrafo-info {
    display: inline-block;
    text-align: center;
}

.container_parrafo-info p {
    font-family: 'Plus Jakarta Sans';
    color: var(--light-grey);
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

.container_button {
    display: flex;
    justify-content: center;
}

.cv_button {
    background: none;
    color: var(--beaver);
    border: 1px solid var(--beaver);
    margin-right: 1rem;
    transition: .2s;
}

.cv_button:hover {
    background: var(--black);
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}

.contact_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--beaver);
    border-radius: 3rem;
    padding: .7rem 4rem .6rem 4rem;
    color: var(--jet);
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0 2rem 1rem;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.contact_button:hover {
    background-color: #776254;
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
}

.links {
    width: 5%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3rem 2rem 3rem;
}

.links img {
    margin: .7rem 0 .7rem 0;
}

.links .icon-CodePen {
    margin: .7rem 0 .7rem .2rem;
}

/* Sobre Mí */

.sobreMi {
    padding-bottom: 4rem;
}

.sobreMi h1 {
    margin-top: 2rem;
    font-size: 3rem;
}

.container_content-sobreMi {
    flex-direction: row-reverse;
}

.container_texto-sobreMi {
    width: 70%;
    padding: 0 5% 0 3rem;
}

.title_sobreMi {
    text-align: start;
    font-size: 2.8rem;
    letter-spacing: .3rem;
}

.texto_sobreMi {
    text-align: start;
    font-size: 2rem;
    letter-spacing: .2rem;
    line-height: 2.8rem;
}

/* Habilidades */

.habilidades {
    padding-bottom: 8rem;
    position: relative;
}

.habilidades h1 {
    padding-top: 8rem;
    font-size: 3rem;
}

.puntos1-habilidades {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 15rem 0 0 /* 41rem */ 20%;
    background-attachment: fixed;
}

.puntos2-habilidades {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 0 0 0 76%;
}

.cards_container--habilidades {
    grid-template-columns: 13rem 13rem 13rem 13rem;
    grid-template-rows: 14rem 14rem;
    padding: 0;
    margin-top: 2rem;
}

.cards--habilidades:hover {
    filter: saturate(100%);
    border: 1px solid var(--beaver);
    transition: all 1s;
}

.cards--habilidades p {
    font-size: 1.6rem;
    margin-top: .8rem;
}

/* Formación */

.formacion {
    padding-bottom: 2rem;
    position: relative;
}

.formacion h1 {
    padding-top: 8rem;
    font-size: 3rem;
}

.cards--formacion:hover {
    border: 1px solid var(--beaver);
    box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%), 0 25px 10px -24px rgb(5 5 5 / 10%);
    transform: scale(1.1);
    transition: .4s all;
}

/* Proyectos */

.proyectos h1 {
    padding-top: 8rem;
    font-size: 3rem;
}

.puntos1-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 20rem 0 0  1%;
    background-attachment: fixed;
}

.puntos2-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: -3rem 0 0 93%;
}

.cards_container--proyectos {
    flex-direction: row;
    justify-content: center;
}

.cards--proyectos {
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem;
    z-index: 1;
}

.text-portafolio {
    margin-top: 0;
}

.container_btn--proyectos .btn_demo,
.container_btn--proyectos .btn_repo {
    width: auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

/* Contacto */

.contacto h1 {
    padding: 8rem 0 2.5rem 0;
    font-size: 3rem;
}

.container_box--contacto {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.container_img--contacto {
    display: inline-block;
    width: 60rem;
    display: flex;
    justify-content: center;
}

.container_img--contacto img {
    width: 50rem;
    object-fit: contain;
}

.container--contacto {
    width: 50%;
    margin: 0;
    padding: 4rem 3rem;
}



